@page "/cats"
<link href="css/catList.css" rel="stylesheet" />
@inject ICatClient httpClient
@inject IConfiguration Configuration
@attribute [Authorize]

<h3>Liste des chats</h3>

@if (cats == null)
{
    <p>Chargement ...</p>
}
else
{
    <div class="cat-cards-container" style="display:flex; flex-wrap:wrap; gap:1rem;">
        @foreach (var cat in cats)
        {
            <div class="cat-card">
                <img src="@($"{Configuration["ApiBaseUrl"]}/images/{cat.photos?.FirstOrDefault()?.photoUrl ?? "default.png"}")" alt="@cat.name" />
                <h4>@cat.name</h4>
                <p><strong>Âge :</strong> @cat.age ans</p>
                <p><strong>Sexe :</strong> @cat.sex</p>
                <p>@cat.description</p>
            </div>
        }
    </div>
}

@code {
    private List<Cat>? cats = null;

    protected override async Task OnInitializedAsync()
    {
        await LoadCats();
    }

    private async Task LoadCats()
    {
        cats = await httpClient.GetCatItemsAsync();
    }
}