@page "/cats"
<link href="css/catList.css" rel="stylesheet" />
@inject ICatClient httpClient
@inject IFavoritesClient favoritesClient
@inject IUserClient userClient
@inject IConfiguration Configuration
@inject AuthenticationStateProvider authStateProvider
@attribute [Authorize]

<h3>Liste des chats</h3>

@if (cats == null)
{
    <p>Chargement ...</p>
}
else
{
    <div class="cat-cards-container">
        @foreach (var cat in cats)
        {
            bool isFav = favoriteCatIds.Contains(cat.id);
            bool isOwner = cat.createdByUserId == userId;
            Console.WriteLine($"ID connecté : {userId}, ID du chat : {cat.createdByUserId}");
            <div class="cat-card">
                <span class="favorite-star @(isFav ? "favorited" : "")"
                      @onclick="() => ToggleFavorite(cat.id)">
                    &#9733;
                </span>
                
                @if (isOwner)
                {
                    <button class="delete-button" @onclick="() => DeleteCat(cat.id)">
                        🗑
                    </button>
                }
                
                <img src="@($"{Configuration["ApiBaseUrl"]}/images/{cat.photos?.FirstOrDefault()?.photoUrl ?? "default.png"}")" alt="@cat.name" />
                <h4>@cat.name</h4>
                <p><strong>Âge :</strong> @cat.age ans</p>
                <p><strong>Sexe :</strong> @cat.sex</p>
                <p>@cat.description</p>
            </div>
        }
    </div>
}

@code {
    private List<Cat>? cats = null;
    private HashSet<int> favoriteCatIds = new();
    private string userId = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        userId = await userClient.GetCurrentUserIdAsync();

        await LoadCats();
        await LoadFavorites();
    }

    private async Task LoadCats() => cats = await httpClient.GetCatItemsAsync();

    private async Task LoadFavorites()
    {
        var favorites = await favoritesClient.GetMyFavoritesAsync();
        favoriteCatIds = favorites.Select(f => f.catId).ToHashSet();
    }

    private async Task ToggleFavorite(int catId)
    {
        if (favoriteCatIds.Contains(catId))
        {
            await favoritesClient.RemoveFavoriteAsync(catId);
            favoriteCatIds.Remove(catId);
        }
        else
        {
            await favoritesClient.AddFavoriteAsync(catId);
            favoriteCatIds.Add(catId);
        }
    }

    private async Task DeleteCat(int catId)
    {
        if (await httpClient.DeleteCatItemAsync(catId))
        {
            cats = cats?.Where(c => c.id != catId).ToList();
        }
    }
}